*{
   font-family: 'Montserrat', sans-serif;
   font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,input,textarea,select,button{
   font-family: 'Open Sans, sans-serif';
   font-weight: 100;
}

ul, ol{
   list-style:none;
}

a:visited, a:link, a:focus, a:hover, a:active{
   list-style:none;
   text-decoration: none;
}
body{
   background-color: rgba(0, 0, 0);
}
/*=============================================
HEADER
=============================================*/
header{
   position:fixed;
   z-index: 1;
   top: -23px;
}

header .grid-container{
   display:grid;
}

header .grid-item{
   text-align:center;
   background-color: black;
}

header .bloqueReservas{
   position: relative;
}

header .bloqueReservas .campana-y-reserva{
   background: #05ceac;
   cursor: pointer;
}

header .bloqueReservas .fa-concierge-bell{
   font-size: 25px;
   color: #847059;

}

header .bloqueReservas .fa-caret-down, header .bloqueReservas .fa-caret-up{
   font-size: 25px;
   color: #236AA1;
}

header .formReservas{
   position: absolute;
   top:52px;
   width: 350px;
   height: auto;
   left: 0px;
   z-index: 2;
   background: rgba(0, 83, 147, .8);
}

header .formReservas .input-group-lg input, header .formReservas select{
   font-size: 14px;

}
header .formReservas input[type="button"]{
   background: black;
   font-size: 16px;
}
header .fa-user {
   font-size: 25px;
   color: #ffffff;
   cursor: pointer;
}
header .fa-bell{
   font-size: 25px;
   color: #ffffff;
}
header .fa-caret-up{
   font-size: 25px;
   color: #ffffff;
}
header .fas-fa-bars{
   font-size: 25px;
   color: #ffffff;
}

header .idiomas span{
   cursor: pointer;
}

header .botonMenu i{
   font-size: 30px;
   color: #B5A99B;
   cursor: pointer;
}
.header-principal{
   background: black;
   
}

/*  
MODO DARK
///////////////////////////////////
*/
.textBienvenido{
   color: #ffffff; 
}
.header-oculto{
   margin-top: 20px;
   margin-bottom: 100px;
}
/*=============================================
BANNER
=============================================*/
.banner .fade-slider{
	position:relative;
   height: auto;
}
.banner_2 .fade-slider{
	position:relative;
   height: auto;
}

li .gaaaaaa{
   height: 500px;
}

.banner_2 .fade-slider{
	position:relative;
}
.banner {
	position:relative;  
}
.banner li {
   width: 100%;
   height: 500px;
 }
.banner_2 {
	position:relative;
}
.banner3 {
	position:relative;
}
.banner .verMas{
	position:absolute;
	width:60px;
	line-height: 60px;
  	bottom: 5%;
    left: 50%;
    font-size:30px;
    transform: translate(-50%, 0%);
    cursor:pointer;
}
/*=============================================
MENU
=============================================*/
nav.menu{
    position: fixed;
    z-index:2;
    top: 77px;
    background-color: rgb(56, 88, 154 );
    display:none;
 }
 nav.menu li > .nav-link{
    transition:.5s all;
 }

 nav.menu li:hover > .nav-link{
    background:#dd1c3b;
    transition:.5s all;
 }
 nav.menu li:hover > .nav-link{
	background:#dd1c3b;
	transition:.5s all;
}
/*
modo dark
////////////////
*/
.switch{
   width: 60px;
   background: rgb(255, 255, 255);
   color: black;
   align-items: center;
}
.menuMovil{
	display:none;
	position:fixed;
	background: rgba(56, 88, 154 ,.8);
	width:100%;
	height:110vh;
	z-index:2;
	overflow-x: hidden;  
}

.menuMovil{
   margin-top: -120px;
}


img.linuxInvertido {
float: left;

}
img.fondo_black {
   float: inline-start;
   
   }

.menuMovil .nav{
	background-color: black !important;

}

.linuxInvertido{
	position:relative;
   width:30%;
	height:20vh;
   margin-top: 45px;
}
.fondo_black{
	position:fixed;
   width:31%;
	height:10vh;
   margin-top: 222px;
   margin-left: -253px;
}
.nav-item1{
   z-index: 0;
   top: 30px;
   color: #B5A99B;
   cursor: pointer;
}
.fondo_negro{
   background-color: black !important;
}

.fondo_negro{
   text-align: center;
   color: #B5A99B;
   cursor: pointer;
}
.nav-item1{
   text-align: center;
   scroll-margin-left: 30px;
}
.nav-link {
   text-align: center;
}

.icono_cerrar{
   text-align: right;
   cursor: pointer;
   margin-left: 200px;
   vertical-align: middle;
}

/*=============================================
NOTICIAS
=============================================*/
.noticias{
   width: 100%;
}

.noticias-noticias h4{
   text-align: center;
}
.noticias-1{
   text-align: center;
   text-align: justify;
   color: #ffffff;
   padding-left: 5%;
   padding-right: 5%;
}
.noticias-1-parrafo{
   color: #ffffff;
   text-align: center;
   text-align: justify;
   padding-left: 5%;
   padding-right: 5%;
}
.noticias-1-imagenes{
   height: 300px;
   grid-template-columns: auto;
}
.noticias-1-imagenes .ver_mas{
	color: #ffffff;
	position:absolute;
	width:230px;
	 
	background-color: #999999;
	height:150px;
}

.noticias-2-imagenes {
   width: 80%;
}

.programas{
   width: 500%;
}

.imagen-programa{
   height: 400px;
}

.noticias-2-imagenes .ver_mas{
	color: #ffffff;
	position:absolute;
	width:230px;
	
	background-color: #999999;
	height:150px;
}

.ver_mas{
   text-align: center;
   padding-top: 60px;
}
/*
PROGRAMAS
*/
.texto-programa{
   text-align: center;
   margin-top: 40px;
}

.imagen-juegos{
   height: 300px;
}

.noticias-2-parrafo{
   text-align: justify;
   padding-right: 25px;
   padding-left: 25px;
}

}
.noticias-1-imagenes .ver_mas{
	color: #ffffff;
	position:fixed;
	width:230px;
	left:5%; 
	top:60%; 
	background-color: #999999;
	height:auto;
}
.ver_mas{
   text-align: center;
   padding-top: 60px;
}
.noticias-3-imagenes{
   padding: 0px;
   grid-template-columns: auto;
}

/*
======================= JUEGOS =========================
=====================================================
*/

.juegos-texto  {
   text-align: center;
   color: white;
   text-align: justify;
   padding-left: 1%;
   padding-right: 1%;
}

/*
///////////////////////////////

*/
/*noticias 3 ------SOFTWARE LIBRE*/
.noticias-3{
   text-align: center;
   color: #ffffff;
}


.box1{
   width: auto;
   height: auto;
   position: relative;
   overflow: hidden;
   margin:0px;
}
.box2{
   width: auto;
   height: auto;
   position: relative;
   overflow: hidden;
   margin:0px;
}

.box1 img{
   color: blanchedalmond;
      width: 100%;
      height:  100%;
}
.box2 img{
   color: blanchedalmond;
      width: 100%;
      height:  100%;
}
.box5 img{
   color: rgb(24, 15, 2);
      width: 100%;
      height:  100%;
}
.box6 img{
   color: blanchedalmond;
      width: 107%;
      height:  100%;
}
.box7 img{
   color: blanchedalmond;
      width: 107%;
      height:  100%;
}


.capa{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height:  100%;
   background:rgba(0, 0, 0, 0.5);
   display:flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   transform: scale(0);
   transition: .3s ease;
   margin-left: 5%;
   margin-right: 5%;
}
.capa1{
   position: absolute;
   top: 0;
   left: -15px;
   width: 100%;
   height:  100%;
   background:rgba(0, 0, 0, 0.5);
   display:flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   transform: scale(0);
   transition: .3s ease;
}
.capa2{
   position: absolute;
   top: 0;
   left: -15px;
   width: 101%;
   height:  100%;
   background:rgba(0, 0, 0, 0.5);
   display:flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   transform: scale(0);
   transition: .3s ease;
}
.box1:hover .capa{
   transform: scale(1);
}
.box6:hover .capa1{
   transform: scale(1);
}
.box2:hover .capa2{
   transform: scale(1);
}
.box2:hover .capa{
   transform: scale(1);
}

.box5:hover .capa{
   transform: scale(1);
}
.box6:hover .capa1{
   transform: scale(1);
}
.box7:hover .capa2{
   transform: scale(1);
}
.ver_mas1{
   color: #8B7556;
	position:absolute;
	width:430px;
	left:2%; 
	top:20%; 
	background-color: #ffffff;
	height:250px;
   text-align: justify;
   margin-left: 10%;
   margin-right: 10%;
}
.ver_mas2{
   color: #8B7556;
	position:absolute;
	width:300px;
	left:2%; 
	top:20%; 
	background-color: #ffffff;
	height:350px;
   text-align: justify;
}
.ver_mas3{
   color: #8B7556;
	position:absolute;
	width:300px;
	left:2%; 
	top:20%; 
	background-color: #ffffff;
	height:450px;
   text-align: justify;
}
.ver_mas6{
   color: #8B7556;
	position:absolute;
	width:300px;
	left:2%; 
	top:20%; 
	background-color: #ffffff;
	height:150px;
   text-align: justify;
}
.ver_mas7{
   color: #8B7556;
	position:absolute;
	width:300px;
	left:2%; 
	top:20%; 
	background-color: #ffffff;
	height:150px;
   text-align: justify;
}


#btnVerMas1{
   margin-top: 10px;
   margin-left: 145px;
   background-color: rgb(15, 84, 223);
   color: floralwhite;
}
#btnVerMas2{
   margin-top: 20px;
   margin-left: 90px;
   background-color: rgb(15, 84, 223);
   color: floralwhite;
}
#btnVerMas3{
   margin-top: 20px;
   margin-left: 90px;
   background-color: rgb(56, 88, 154 );
   color: floralwhite;
}
#btnVerMas5{
   margin-bottom: 20px;
   margin-left: 150px;
   background-color: rgb(56, 88, 154 );
   color: floralwhite;
}
#btnVerMas6{
   margin-bottom: 20px;
   margin-left: 100px;
   background-color: rgb(56, 88, 154 );
   color: floralwhite;
}
#btnVerMas7{
   margin-bottom: 20px;
   margin-left: 100px;
   background-color: rgb(56, 88, 154 );
   color: floralwhite;
}
/*=============================================
SOFTWARE LIBRE
==============================================  */
.segundo-carrusel div{
   width: 100%;
   height: 100%;
}




/*=============================================
APRENDE CONMIGO
=============================================*/

.aprende-conmigo{
   height: 100%;
   width: 100%;
}
.aprende-conmigo1{
   height: 100%;
   width: 107%;
   margin-left: -28px;
}
.aprende-conmigo2{
   height: 100%;
   width: 107%;
   margin-left: -28px;
}

.aprende-conmigo{
   cursor: pointer;
}

/*=============================================
            TODO -- BLOQUE CONTACTENOS
=============================================*/
.diseño_titulo{
   text-align: center;
   color: white;
}

.contactenos {
   height: auto;
   width: 100%;
   margin-top: 30px;
 }
 
 /* TODO -- BLOQUE CONTACTENOSS --- FONDO */
 .contactenos_fondo {
   background: url("../../Imagenes Optimizadas/img/Inicio_Bloque_Contactanos.png")
     no-repeat center center;
   background-size: 100% 600px;
   height: 600px;
 }
 
 /* TODO -- BLOQUE CONTACTENOS --- TRANSPARENTE */
 .contactenos_transparente {
   background-color: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 100%;
   padding-top: 30px;
 }
 
 /* TODO -- BLOQUE CONTACTENOS --- FORMULARIO */
 .contactenos_formulario {
   display: grid;
   grid-template-columns: 6fr 6fr;
 }
 
 /* TODO -- BLOQUE CONTACTENOS --- INPUT */
 .contactenos_formulario_input {
   height: 50px;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 30px;
   padding-left: 2%;
   font-size: 20px;
 }
 
 /* TODO -- BLOQUE CONTACTENOS --- TEXTAREA */
 .contactenos_formulario_textarea {
   height: 200px;
   width: 98%;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 30px;
   padding-left: 1%;
   font-size: 20px;
 }
 
 /* TODO -- BLOQUE CONTACTENOS --- BOTON */
 .contactenos_formulario_boton {
   width: 20%;
   height: 50px;
   margin-left: 40%;
   margin-right: 40%;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   background-color: #236AA1
 }
 
/*=============================================
MAPA
=============================================*/
.mapa{
	position:relative;
}

.mapa .info{
	color: #ffffff;
	position:absolute;
	width:400px;
	right:10%; 
	top:10%; 
	background-color: rgb(56, 88, 154 );
	height:370px;
}

.mapa .info h3{
	font-weight: bold;
}

/*=============================================
FOOTER
=============================================*/

footer .grid-container{
	display:grid;
	/*grid-template-columns: 3fr 5fr;*/
}

footer .grid-item1{
	background-color: #000000;
	text-align:right;
   top: 12px;
	color:rgb(255, 255, 255);
}
footer .grid-item2{
	background-color: #000000;
	text-align:center;
	color:rgb(255, 255, 255);
}
footer .grid-item3{
	background-color: #000000;
	text-align:center;
   top: 12px;
	color:rgb(255, 255, 255);
}
footer .grid-item4{
	background-color: #000000;
	text-align:center;
   top: 12px;
	color:rgb(255, 255, 255);
}
footer .grid-item5{
	background-color: #000000;
	text-align:center;
   top: 12px;
	color:rgb(255, 255, 255);
}

footer .fa-whatsapp{
   font-size: 40px;
   color: #ffffff;
   cursor: pointer;
}
footer .fa-instagram{
   font-size: 40px;
   color: #ffffff;
   cursor: pointer;
}

footer .fa-youtube{
   font-size: 40px;
   color: #ffffff;
   cursor: pointer;
}

footer .fa-facebook{
   font-size: 40px;
   color: #ffffff;
   cursor: pointer;
}
/*=============================================
SCROLL UP
=============================================*/
#scrollUp {
   bottom: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   background: url("../image/inicio/flecha.jpg");
 }


/*
.redesMovil{
	visibility: hidden;
	position: fixed;
	bottom:0px;
	z-index:2;
	width:100%;
	background: #197DB1;
}*/